{% extends "base.html" %}
{% block title%} Portal Revergy | Gestion Postulantes{% endblock%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
  
            <div class="pagetitle">
              <h1> <i class="bi bi-journals"></i> Entrevista Generalidades - Recursos Humanos</h1>

              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item">Reclutamiento</li>
                  <li class="breadcrumb-item"><a href="{% url 'datails_entrevistas' %}">Entrevistas</a></li>
                  <li class="breadcrumb-item"><a href="">Generalidades RRHH</a></li>
                </ol>
              </nav>
            </div><!-- End Breadcrumbs with a page title -->

            {% if messages %}

            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            
                {% if message.tags == 'alert-success' %}
                  <i class="bi bi-check-circle-fill"></i> {{ message }}
            
                  {% elif message.tags == 'alert-primary' %}
                    <i class="bi bi-star me-1"></i> {{ message }}
            
                  {% elif message.tags == 'alert-danger' %}
                    <i class="bi bi-exclamation-octagon me-1"></i> {{ message }}
                    
                  {% elif message.tags == 'alert-info' %}
                    <i class="bi bi-info-circle me-1"></i> {{ message }}
                    
                  {% elif message.tags == 'alert-warning' %}
                    <i class="bi bi-exclamation-triangle me-1"></i> {{ message }}
                {% endif %}
            
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}



            <div class="alert alert-primary text-center">
              <p class="texto-parrafo texto-alerts">
                <i class="bi bi-info-circle-fill"></i> Lea y conteste las siguientes preguntas de manera atenta y precisa, solo podra realizarlo una ves.
              </p>
            </div>
         
            


            <div class="row centrado-absoluto">
              <div class="col-lg-6">
    
                <form method="POST" enctype="multipart/form-data">

                  {% csrf_token %}
                  {{ form_entrevista | crispy }}

                  <div class="col-lg-12 ">
                    <div class="row alinear-contenido">

                      <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary"> Enviar </button>
                        <a href="{% url 'gestion_entrevistas' %}" class="btn btn-secondary"> Cancelar</a>
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

        
  </section>
    
   
{% endblock %}


{% block scripts %}



{% endblock scripts %}