{% extends "base.html" %}
{% block title%} Portal Revergy | Adminsitracion{% endblock%}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

    <div class="pagetitle">
      <h1>Registro de departamentos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Home</a></li>
          <li class="breadcrumb-item">Administracion</li>
          <li class="breadcrumb-item">Gestion</a></li>
          <li class="breadcrumb-item"><a href="{% url 'organizacion' %}">Organizacion</a></li>
          <li class="breadcrumb-item">Departamentos</li>
          <li class="breadcrumb-item">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show texto-alerts" role="alert">
                
        {% if message.tags == 'alert-success' %}
            <i class="bi bi-check-circle-fill"></i>  {{ message }}
        {% elif message.tags == 'alert-danger' %}
            <i class="bi bi-x-circle-fill"></i> {{ message }}
        {% endif%}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}


    <section class="section dashboard">
      <div class="row">
      
        <!-- Gestion de analiticas (Altas, Estatus, detalles , bajas, exportar) -->
    
        <div class="row centrar-bloque">

    
          <div class="col-lg-7">
            <div class="card">
              <div class="card-body">
                <div class="card-body card-header">
                  <h5 class="card-title text-center texto-cabecera-modal">Agregar nuevo departamento<hr></h5>


                  <div class="alert alert-info">
                    <p class="texto-parrafo"> Ingrese los datos requeridos para agregar un nuevo departamento al registro del sistema..
                    </p>
                  </div>
                  
      
                  <form method="POST" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form_departamento | crispy }}

                    <div class="col-lg-12 ">
                      <div class="row alinear-contenido">

                        <div class="col-lg-12">
                          <button type="submit" class="btn btn-primary"> Guardar </button>
                          <a href="{% url 'organizacion' %}" class="btn btn-secondary"> Cancelar</a>
                        </div>
                      </div>
                    </div>
                  
                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
    
    
    
    {% endblock %}