{% extends "base.html" %}
{% block title%} Portal Revergy | Recursos Humanos{% endblock%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="pagetitle">
      <h1>Cambio de contraseña </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Home</a></li>
          <li class="breadcrumb-item">Perfil</a></li>
          <li class="breadcrumb-item">Cambio de contraseña</a></li>
        </ol>
      </nav>
      

    </div><!-- End Page Title -->
    <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">
            {% comment %} 
            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
              </a>
            </div><!-- End Logo --> {% endcomment %}

            <div class="card mb-6">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Actualizacion de contraseña</h5>
                  <p class="text-center small text-edit">*Se requiere reiniciar sesion una ves modificada las credenciales.</p>
                </div>

                <form class="row g-3 needs-validation" novalidate method="POST">
                  {% csrf_token %}

                  {{  form | crispy }}

                 
                  
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit"><i class="bi bi-arrow-counterclockwise"></i> Actualizar</button>
                  </div>
                  <div class="col-12 mb-4">
                    <p class="small mb-0"><a href=""></a></p>
                  </div>
                </form>

              </div>
            </div>

            <div class="credits mb-4">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              
            </div>

          </div>
        </div>
      </div>

    </section>
    {% endblock %}
